<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- TODO-zamoroka: remove preferences, use plugins -->
    <preference for="\Magento\Paypal\Model\Cart" type="\Zamoroka\PayPalAllCurrencies\Preference\Paypal\Model\Cart" />
    <preference for="\Magento\Payment\Model\Cart\SalesModel\Quote" type="\Zamoroka\PayPalAllCurrencies\Preference\Payment\Model\Cart\SalesModel\Quote" />
    <preference for="\Magento\Payment\Model\Cart\SalesModel\Order" type="\Zamoroka\PayPalAllCurrencies\Preference\Payment\Model\Cart\SalesModel\Order" />

    <type name="Zamoroka\PayPalAllCurrencies\Model\CurrencyService\CurrencyServiceAbstract">
        <arguments>
            <argument name="curlObject" xsi:type="object">\Magento\Framework\HTTP\Client\Curl</argument>
            <argument name="storeManagerObject" xsi:type="object">\Magento\Store\Model\StoreManagerInterface</argument>
            <argument name="helperObject" xsi:type="object">Zamoroka\PayPalAllCurrencies\Helper\Data</argument>
        </arguments>
    </type>

    <type name="Zamoroka\PayPalAllCurrencies\Model\Config\CurrencyServices">
        <arguments>
            <argument name="currencyServiceFactoryObject" xsi:type="object">Zamoroka\PayPalAllCurrencies\Model\CurrencyServiceFactory</argument>
        </arguments>
    </type>

    <type name="Magento\Paypal\Model\Config">
        <plugin name="zamoroka_paypalallcurrencies_paypal_model_config_plugin"
                type="Zamoroka\PayPalAllCurrencies\Plugin\Paypal\Model\ConfigPlugin" sortOrder="1" />
    </type>

    <type name="\Magento\Paypal\Model\Api\Nvp">
        <plugin name="zamoroka_paypalallcurrencies_paypal_model_api_nvp_plugin"
                type="\Zamoroka\PayPalAllCurrencies\Plugin\Paypal\Model\Api\NvpPlugin" sortOrder="1" />
    </type>

    <type name="\Magento\Config\Model\Config">
        <plugin name="zamoroka_paypalallcurrencies_config_model_config_plugin"
                type="\Zamoroka\PayPalAllCurrencies\Plugin\Config\Model\ConfigPlugin" sortOrder="1"/>
    </type>

    <type name="\Magento\Quote\Model\QuoteRepository">
        <plugin name="zamoroka_paypalallcurrencies_quote_model_quoterepository_plugin"
                type="\Zamoroka\PayPalAllCurrencies\Plugin\Quote\Model\QuoteRepositoryPlugin" sortOrder="1" />
    </type>

    <type name="\Magento\Sales\Helper\Admin">
        <plugin name="zamoroka_paypalallcurrencies_sales_helper_admin_plugin"
                type="\Zamoroka\PayPalAllCurrencies\Plugin\Sales\Helper\AdminPlugin" sortOrder="1" />
    </type>

    <type name="\Magento\Sales\Block\Adminhtml\Items\AbstractItems">
        <plugin name="zamoroka_paypalallcurrencies_sales_block_adminhtml_items_abstractitems_plugin"
                type="\Zamoroka\PayPalAllCurrencies\Plugin\Sales\Block\Adminhtml\Items\AbstractItemsPlugin" sortOrder="1" />
    </type>

    <type name="\Magento\Sales\Model\OrderRepository">
        <plugin name="zamoroka_paypalallcurrencies_sales_model_orderrepository_plugin"
                type="\Zamoroka\PayPalAllCurrencies\Plugin\Sales\Model\OrderRepositoryPlugin" sortOrder="1" />
    </type>

     <type name="\Magento\Sales\Model\Order\Payment\State\CaptureCommand">
        <plugin name="zamoroka_paypalallcurrencies_sales_model_order_payment_state_capturecommand_plugin"
                type="\Zamoroka\PayPalAllCurrencies\Plugin\Sales\Model\Order\Payment\State\CaptureCommandPlugin" sortOrder="1" />
    </type>
</config>
